# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://bfnywgvmstuawkyxpvlt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmbnl3Z3Ztc3R1YXdreXhwdmx0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDcyODM1NzMsImV4cCI6MjAyMjg1OTU3M30.wuJItQ4XiumK7DT2aAnNqj8NOFDCVsDRueJgCiNfkc4"
SECRET_SUPABASE_CONNECTION_STRING="postgres://postgres.bfnywgvmstuawkyxpvlt:hellohello24arezoo@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
